:root{
    --bananayellow: #fdca00;
    --bananalightyellow: #fbdd64;
    --bananawhite: #fef2c2;
    --bananabrown: #2f2600;
    --bananablack: #151100;
    --grey: rgba(0,0,0,0.7);
    --lightgrey: rgba(0,0,0,0.15);
}